.ariba{
    margin-top: 30px;
}
.menuformal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lol{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    
}
.dawdddd{
    margin-top: 30px;
}